<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Theme="Neptune" 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      DebugMode="false"
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      FormLabelAlign="Left" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="Default" 
      CustomTheme="" 
      IconBasePath="~/res/icon" 
      CustomThemeBasePath="~/res/theme" 
      JSBasePath="~/extjs"
      IEEdge="true"
      LoadingImageNumber="1"
  -->
  <!-- Net4.0以上的项目，一定要为pages节点加上这两个属性：controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" -->
  <FineUI DebugMode="true" IconBasePath="~/Icon"/>
  <appSettings/>
  <connectionStrings/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f"/>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </httpHandlers>
    <!-- 请求正文的最大值： 512000K = 500M  -->
    <httpRuntime maxRequestLength="512000"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!-- 
      在虚拟主机中运行ASP.NET程序，要添加如下配置项，否则在页面回发时可能出现“验证视图状态 MAC 失败”的错误。
      如何生成MachineKey：http://blogs.msdn.com/b/amb/archive/2012/07/31/easiest-way-to-generate-machinekey.aspx
    <machineKey decryptionKey="C955D0B041D3749FB4E150677F827DC1857B909399A5D152,IsolateApps" validationKey="891194EEC95A3895658E397FEA04F6187CFAF77151BE89F207D993BB4BA9DE4152BACB05BC4AEB8BBB5FDD950F77881204F59F3F5DBE39FC3EC49119EA7C106D,IsolateApps" />
    -->
    <!--
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    -->
  </system.web>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- 集成的托管管道模式下，请添加 system.webServer  -->
  <!--  -->
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
    </handlers>
  </system.webServer>
</configuration>